* {
  padding    : 0;
  margin     : 0;
  box-sizing : border-box;
  font-family: "Montserrat", sans-serif;

  /* 1rem = 18px --> phu thuoc vao font-size mac dinh.
  neu k khai bao font-size thi 1rem = 16px */
  font-size: 18px;
}

:root {
  --main-bgc  : #ff0e83;
  --color-text: white;
}

.clear {
  clear: both;
}

header {
  width           : 100%;
  background-color: #4e2a84;
  position        : fixed;
  z-index         : 100;
}

.head {
  width             : 80%;
  margin            : 0 auto;
  padding           : 20px 0;
  display           : flex;
  /* justify-content: canh the con theo chieu ngang */
  justify-content   : space-between;
  /* align-items    : canh the con theo chieu doc */
  align-items       : center;
}

.head p {
  font-size: 2.05rem;
  color    : white;
}

.head ul {
  list-style: none;
}

.head ul li {
  display: inline;
  padding: 0 20px;
}

.head ul li a {
  text-decoration: none;
  font-weight    : bold;
  color          : var(--color-text);
}

.head ul li a:hover {
  color     : #ff0e83;
  transition: ease 0.3s;
}

/* CAROUSEL */

.carousel {
  width           : 100%;
  height          : 800px;
  background-image: url(../img/b3.jpg);
  background-size : cover;
  display         : flex;
  justify-content : center;
  align-items     : center;
  line-height     : 3.5rem;
}

.carousel__content {
  text-align: center;
  color     : var(--color-text);
}

.carousel__content:hover {
  -webkit-animation: upDown 3s linear infinite;
  animation        : upDown 3s linear infinite;
}

.carousel__content h1 {
  font-size: 3rem;
}

.carousel__content button {
  padding         : 11px 25px;
  color           : var(--color-text);
  font-weight     : bold;
  border          : 1px solid white;
  border-radius   : 5px;
  background-color: var(--main-bgc);
  cursor          : pointer;
  transition      : all 0.3s;
}

button:hover {
  color           : black;
  background-color: white;
  border          : 1px solid var(--main-bgc);
}

/* INTRO */

.intro {
  width                : 100%;
  display              : grid;
  /* fr                : phân số, mỗi cột tự căn chỉnh trên số phần được chia */
  grid-template-columns: repeat(4, 1fr);
  color                : white;
}

.intro__item {
  width      : 100%;
  display    : flex;
  text-align : center;
  align-items: center;
  line-height: 1.5rem;
}

.intro__item img {
  width  : 100%;
  height : 100%;
  display: block;
}

.intro__item h2 {
  font-size: 1.5rem;
  padding  : 0 0 20px;
}

.intro__item p {
  font-size: 1rem;
}

.intro__item1 {
  /* grid-column: 1/span 3; */
  background-color: #4e2a84;
}

.intro__item2 {
  grid-column: 2 / span 2;
}

.intro__item3 {
  /* grid-column: 10/span 3; */
  background-color: #ff0f83;
}

.intro__item4 {
  grid-column     : 1 / span 2;
  background-color: #ed6498;
}

/* .intro__item5 {
  grid-column: 7/span 3;
} */

.intro__item6 {
  /* grid-column: 10/span 3; */
  background-color: #836eaa;
}

/* 
.intro__item7 {
  grid-column: 1/span 3;
} */

.intro__item8 {
  /* grid-column: 4/span 3; */
  background-color: #4e2a84;
}

.intro__item9 {
  grid-column: 3 / span 2;
}

/* NUMBER */

.number {
  width  : 100%;
  padding: 100px;
}

.number__child {
  width          : 80%;
  margin         : 0 auto;
  display        : flex;
  justify-content: center;
  text-align     : center;
}

.number__item {
  padding: 0 40px;
}

.number__item h1 {
  font-size    : 2rem;
  margin-bottom: 30px;
  color        : #4e2a84;
}

.number__item h2 {
  font-size     : 1.3rem;
  letter-spacing: 5px;
}

/* SERVICE */
.service {
  width           : 100%;
  /* display      : flex; */
  text-align      : center;
  /* align-items  : center; */
  background-image: url(../img/s1.jpg);
  background-size : cover;
  padding         : 30px 0;
}

.service h1 {
  font-size : 3rem;
  color     : white;
  margin-top: 3%;
}

.service__item {
  width  : 80%;
  margin : 0 auto;
  display: flex;
  padding: 10px;
}

.item__cake {
  width  : 25%;
  padding: 50px 10px 50px;
}

.item__cake span {
  width           : 105px;
  height          : 105px;
  margin          : 0 auto;
  border          : 1px solid #4e2a84;
  background-color: white;
  border-radius   : 50%;
  line-height     : 105px;
}

.item__cake .fas,
.far,
.fab {
  font-size : 3.3rem;
  color     : #4e2a84;
  transition: all 0.5s;
}

.item__cake:hover .fas,
.item__cake:hover .far,
.item__cake:hover .fab {
  color: var(--main-bgc);
}

.item__cake h2 {
  font-size     : 1.5rem;
  font-weight   : normal;
  padding-bottom: 15px;
}

.item__cake p {
  font-size: 0.8rem;
}

.item__cake button {
  margin-top      : 20px;
  padding         : 11px 25px;
  color           : var(--color-text);
  border          : 1px solid white;
  border-radius   : 5px;
  background-color: var(--main-bgc);
  font-size       : 0.8rem;
  cursor          : pointer;
}

button:hover {
  color           : black;
  background-color: white;
  transition      : ease 0.3s;
  border          : 1px solid var(--main-bgc);
}

/* gallery */
.gallery {
  width     : 100%;
  text-align: center;
  padding   : 0 0 50px;
}

.gallery__item {
  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  /* chỗ nào khai báo grid thì khai báo gap */
  gap                  : 30px;
  padding              : 0 15px;
}

.item {
  position: relative;
}

.item img {
  width  : 100%;
  height : 100%;
  display: block;
}

.item__g1 {
  grid-column: 1 / span 2;
}

.item__g6 {
  grid-column: 3 / span 2;
}

.gallery__overlay {
  width           : 100%;
  height          : 100%;
  position        : absolute;
  top             : 0;
  left            : 0;
  background-color: rgba(48, 132, 163, 0.3);
  color           : #fff;
  padding         : 30px 25px;
  text-align      : right;
}

.gallery__overlay p {
  position  : absolute;
  bottom    : 30px;
  right     : 25px;
  transform : translateY(20px);
  opacity   : 0;
  transition: 0.5s;
}


.item:hover p {
  transform: translateY(0);
  opacity  : 1;
}

/* .gallery__overlay h3::before {
  content: "hello";
}

.gallery__overlay h3::after {
  content: "!";
} */

.gallery__overlay h3 {
  font-size : 1.5rem;
  transform : translateY(20px);
  transition: 0.5s;
}

.item:hover h3 {
  transform: translateY(0);
}

.gallery__overlay h3::after {
  content         : "";
  width           : 100%;
  height          : 3px;
  background-color: #fff;
  display         : block;
  margin-top      : 15px;
  transform       : translateY(60px);
  transition      : 0.5s;
  opacity         : 0;
}

.item:hover h3::after {
  transform: translateY(0);
  opacity  : 1;
}

.gallery__overlay span {
  font-size  : 1.5rem;
  font-weight: normal;
}

/* TEAM */
.team {
  width           : 100%;
  background-color: #4e2a84;
  text-align      : center;
}

.team__content {
  width                : 80%;
  margin               : 0 auto;
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  gap                  : 20px 30px;
}

.team__item {
  position: relative;
}

.team__item img {
  width  : 100%;
  display: block;
}

.team__text {
  width              : 100%;
  background-color   : #ff0e83;
  text-align         : left;
  padding            : 20px 20px;
  position           : absolute;
  bottom             : 0;
  left               : 0;
  color              : white;
  /* transition      : 0.3s; */
}

.team__item:hover .team__text {
  opacity: 0;
}

.team__detail {
  width           : 100%;
  height          : 100%;
  position        : absolute;
  top             : 0;
  left            : 0;
  background-color: rgba(0, 0, 0, 0.671);
  padding         : 250px 50px;
  text-align      : left;
  color           : white;
  opacity         : 0;
  transition      : 0.5s;
}

.team__detail h2 {
  color        : #ff0e83;
  margin-bottom: 20px;
}

.team__detail p {
  margin: 20px 0;
}

.team__item:hover .team__detail {
  opacity: 1;
}

.item1 {
  overflow: hidden;
}

.item1 .team__detail {
  opacity   : 1;
  transform : translateX(-100%);
  transition: 1s;
}

.item1:hover .team__detail {
  transform: translateX(0);
}

.item3 .team__detail {
  opacity  : 0;
  transform: rotate(0) scale(0);
}

.item3:hover .team__detail {
  transform: rotate(360deg) scale(1);
  opacity  : 1;
}

.item4 .team__detail {
  opacity  : 0;
  transform: scale(0);
}

.item4:hover .team__detail {
  opacity  : 1;
  transform: scale(1);
}

/* FEEDBACK */
.feedback {
  width     : 100%;
  text-align: center;
  padding   : 20px 0;
}

.feedback__content {
  width              : 80%;
  margin             : 0 auto;
  border             : 2px solid #ff0e83;
  background-color   : #d6c5c193;
  padding            : 20px;
  /* text-align      : center; */
}

.feedback__content .item {
  padding: 0 30px;
}

.feedback__content i {
  color: #2bbeff;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
  background-color: rgba(0, 0, 0, 0.541);
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: black;
}

/* CONTACT */
.contact {
  width     : 100%;
  text-align: center;
}

.contact__form form {
  width                : 60%;
  margin               : 0 auto;
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  gap                  : 20px;
  padding              : 20px 0;
}

.contact__form textarea {
  width        : 100%;
  padding      : 10px;
  border       : 1px solid black;
  border-radius: 3px;
  transition   : .5s;
  grid-column  : 1/ span 2;
}

.contact__form textarea:focus {
  outline   : none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.contact__form textarea::-webkit-input-placeholder {
  color: black;
}

.contact__form textarea::-moz-placeholder {
  color: black;
}

.contact__form textarea:-ms-input-placeholder {
  color: black;
}

.contact__form textarea::-ms-input-placeholder {
  color: black;
}

.contact__form textarea::placeholder {
  color: black;
}

.contact__form form input[type="submit"] {
  background-color: #ff0e83;
  font-weight     : bold;
  border          : none;
  grid-column     : 1/span 2;
  transition      : .5s;
}

.contact__form form input[type="submit"]:hover {
  background-color: black;
  color           : white;
}

.contact__form form input {
  padding      : 10px;
  border       : 1px solid black;
  border-radius: 3px;
  transition   : .5s;
}

.contact__form form input:focus {
  outline   : none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}


.backHome {
  width           : 40px;
  height          : 40px;
  background-image: url(../img/to-top.png);
  background-size : cover;
  background-color: none;
  position        : fixed;
  bottom          : 25px;
  right           : 40px;
  visibility      : hidden;
  opacity         : 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity   : 1;
}

@-webkit-keyframes upDown {
  0% {}

  25% {
    transform: translateY(50px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes upDown {
  0% {}

  25% {
    transform: translateY(50px) scale(1.2);
  }

  50% {
    transform: translateY(0px) scale(1);
  }

  75% {
    transform: translateY(-50px) scale(1.2);
  }

  100% {
    transform: translateY(0px) scale(1);
  }
}